<!DOCTYPE html>
<html lang="zh">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        
        <!-- HTML5 shim 和 Respond.js 是为了让 IE8 支持 HTML5 元素和媒体查询（media queries）功能 -->
        <!-- 警告：通过 file:// 协议（就是直接将 html 页面拖拽到浏览器中）访问页面时 Respond.js 不起作用 -->
        <!--[if lt IE 9]>
            <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
            <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        <title>index</title>
        <style type="text/css">
            .box{
                margin: 0 auto;
                background-color: #f6f6f6;
                height: auto;
                word-wrap: break-word;
            }
            @media (min-width: 600px) {
                .box{
                    width: 600px;
                }
            }
            @media (max-width: 600px) {
                .box{
                    width: 100%;
                }
            }
        </style>
</head>

    <body style="background: #f6f6f6;">

        <div class="container-fluid">
            <div class="row">
                <!-- top fuck -->
                <div class="box fixed-top topBox">
                    <h4>编辑</h4>
                    <p>
                            注意事项，需要注意markdown语法。对于图片，可以添加图片链接，但需要要上传图片。
                    </p>
                </div>
                <!-- center fuck -->
                <div class="box centerBox" style="margin-top: 200px;">
                    
                    <div id="preview" style="background-color: white;">

                    </div>
                    <textarea id="text-input" style="width: 100%; height: auto; min-height: 200px;">

                    </textarea>

                    <footer>       
                        <span class="badge badge-success">ok<a href="##" onClick="sendContent">send</a></span>
                        <span class="badge badge-success">return<a href="#" onClick="javascript :history.back(-1);">back</a></span>
                    </footer>
                </div>
                <!-- fuck -->
            </div>
        </div>

        <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <!-- cite markdown js  -->
        <script src="../markdown/lib/markdown.js"></script>
        <!-- load script -->
        <script type="text/javascript">


            function sendContent(){
                
            }
            
            $("#text-input").keyup(function(){
                new Editor($("text-input"), $("preview"));
            });

            function Editor(input, preview) {
                this.update = function () {
                preview.innerHTML = markdown.toHTML(input.value);
                };
                input.editor = this;
                this.update();
            }
            var $ = function (id) { return document.getElementById(id); };
            new Editor($("text-input"), $("preview"));
        </script>
    </body>
</html>